{% extends 'main_template.html' %}

{% block title %} {{book.title}} {% endblock %}

{% block detail %}

{% load static %}

<a href="{% url 'the-main-page' %}">
    <h6>Главная</h6>
</a>
<p class="text-success">Пользователь: {{ user }}</p>

{% for msg in messages %}
    <p class="text-danger">{{ msg }}</p>
{% endfor %}

<div class="book" id="{{ book.slug }}">
    <h1>
        {{ book.title }}
        {% if book.is_liked %}
            <span class="fa fa-star checked"></span>
        {% endif %}
    </h1>
    <img src="{{ book.book_img.url}}" alt="{{ book.title }}" style="padding: 9px;max-width: 400px;max-height: 400px;">

    <h6>
        Жанр:
        {% for genre in book.genres.all %}
        <span class="badge">
            {{ genre }}
        </span>
        {% endfor %}
    </h6>
    <h2>{{ book.date }}</h2>
    <h3>{{ book.text }}</h3>
    <h4>
        Авторы книги:
        {% for author in book.authors.all %}
            {{ author }}
        {% endfor %}
    </h4>


    <h4 id="voice-{{ book.slug }}">Число голосов: {{ book.count_rated_users }}</h4>
    <nobr id="total_rate-{{ book.slug }}">{{ book.rate }}</nobr>
    {% for i in range %}
        {% if book.rate >= i %}
            <nobr class="rate" id="star-{{ book.slug }}-{{ i }}">
                <span class="fa fa-star checked"></span>
            </nobr>
        {% else %}
            <nobr class="rate" id="star-{{ book.slug }}-{{ i }}">
                <span class="fa fa-star"></span>
            </nobr>
        {% endif %}
    {% endfor %}
    <br>
    <br>

    {% if book.is_owner %}

            <i class="delete-book" id="delete-book-{{ book.slug }}">
                <input class="btn btn-warning" type="button" value="Delete book">
            </i>

        <a href="{% url 'update-book' slug=book.slug %}">
            <i>
                <input class="btn btn-success" type="button" value="Update book">
            </i>
        </a>
    {% endif %}
    <br>
    <h6>Число комментариев: {{ book.count_comment }}</h6>

    {% for comment in book.comments.all %}
    <div id="block-comment-{{ comment.id }}">
        <br>
        <h4 id="comment-text-{{ comment.id }}">{{ comment.text }}</h4>
        <h5 id="comment-date-{{ comment.id }}">{{ comment.date }}</h5>
        <h6 id="comment-author-{{ comment.id }}">Автор комментария: {{ comment.author }}</h6>

            <h4 class="like-comment" id="comment-like-{{ comment.id }}">
                Likes: {{ comment.likes }}
                {% if comment.is_liked %}
                    <span class="fa fa-star checked"></span>
                {% endif %}
            </h4>

        {% if comment.is_owner %}

            <i class="delete-comment" id="delete-comment-{{ comment.id }}">
                <input class="btn btn-warning" type="button" value="Delete comment">
            </i>

            <a href="{% url 'update-comment' slug=book.slug id_comment=comment.id %}" id="update-comment-{{ comment.id }}">
                <i>
                    <input class="btn btn-success" type="button" value="Update comment">
                </i>
            </a>
        {% endif %}
    </div>

    {% endfor %}

    <br>

    {% if user.is_authenticated %}
    <form id="com-{{ book.slug }}-{{ user }}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="OK">
    </form>
    {% endif %}

<!--    <nobr id="check-star">-->
<!--        <span class="fa fa-star checked"></span>-->
<!--    </nobr>-->
<!--    <nobr id="dark-star">-->
<!--        <span class="fa fa-star"></span>-->
<!--    </nobr>-->

</div>

<script src="{% static 'script.js' %}"></script>

{% endblock %}