{% extends 'main_template.html' %}

{% block title %} {{book.title}} {% endblock %}

{% block detail %}
<a href="{% url 'the-main-page' %}">
    <h6>Главная</h6>
</a>
<h1>{{ book.title }}</h1>
<h2>{{ book.date }}</h2>
<h3>{{ book.text }}</h3>
<h4>Авторы книги: {{ book.authors.all }}</h4>
<h5>Число голосов: {{ book.count_rated_users }}</h5>
{{ book.rate }}
{% for i in range %}
    {% if book.rate >= i %}
        <a href="{% url 'add-rate-location' slug=book.slug rate=i location=1%}">
            <span class="fa fa-star checked"></span>
        </a>
    {% else %}
        <a href="{% url 'add-rate-location' slug=book.slug rate=i location=1 %}">
            <span class="fa fa-star"></span>
        </a>
    {% endif %}
{% endfor %}
<br>
<h6>Число комментариев: {{ book.count_comment }}</h6>
{% for comment in book.comments.all %}
    <h4>{{ comment.text }}</h4>
    <h5>{{ comment.date }}</h5>
    <h6>Автор комментария: {{ comment.author }}</h6>
    <a href="{% url 'add-like-to-comment-location' slug=book.slug id_comment=comment.id location=1 %}">
        <h4>Likes: {{ comment.likes }}</h4>
    </a>
{% endfor %}

{% if user.is_authenticated %}
<form action="{% url 'add-comment-location' slug=book.slug location=1 %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="text">Добавьте комментарий:</label>
        <input class="form-control" type="text" id="text" name='text' placeholder="Ваш комментарий"></input>
    </div>
    <input type="submit" value="OK">
</form>
{% endif %}

{% endblock %}