{% extends 'main_template.html' %}

{% block title %} Главная {% endblock %}

{% block main %}
<a href="{% url 'login' %}">login</a>
{{ user }}
<a href="{% url 'logout' %}">logout</a>

<h6>Главная</h6>

    {% for b in books %}
         <a href="{% url 'book-detail' slug=b.slug %}">
             <h1>
                 {{ b.title }}
                 {% if b.is_liked %}
                    <span class="fa fa-star checked"></span>
                 {% endif %}
             </h1>
         </a>
        <h2>{{ b.date }}</h2>
        <h3>{{ b.text }}</h3>
        <h4>Авторы книги: {{ b.authors.all }}</h4>
        <h5>Число голосов: {{ b.count_rated_users }}</h5>
        {{ b.rate }}
        {% for i in range %}
            {% if b.rate >= i %}
                <a href="{% url 'add-rate' slug=b.slug rate=i %}">
                    <span class="fa fa-star checked"></span>
                </a>
            {% else %}
                <a href="{% url 'add-rate' slug=b.slug rate=i %}">
                    <span class="fa fa-star"></span>
                </a>
            {% endif %}
        {% endfor %}
        <br>
        {% if b.is_owner %}
            <a href="{% url 'delete-book' slug=b.slug %}">
                <i>
                    <input class="btn btn-warning" type="button" value="Delete book">
                </i>
            </a>
            <a href="{% url 'update-book' slug=b.slug %}">
                <i>
                    <input class="btn btn-success" type="button" value="Update book">
                </i>
            </a>
        {% endif %}
    {% endfor %}

{% if user.is_authenticated %}
<form action="{% url 'add-book' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="OK">
</form>
{% endif %}

{% endblock %}

