{% extends 'main_template.html' %}

{% block main %}

{{ user }}
    {% for b in books %}
         <a href="{% url 'book-detail' slug=b.slug %}">
             <h1>{{ b.title }}</h1>
         </a>
        <h2>{{ b.date }}</h2>
        <h3>{{ b.text }}</h3>
        <h4>Авторы книги: {{ b.authors.all }}</h4>
        <h5>Число голосов: {{ b.count_rated_users }}</h5>
        {{ b.rate }}
        {% for i in range %}
            {% if b.rate >= i %}
                <a href="{% url 'add-rate' slug=b.slug rate=i %}">
                    <span class="fa fa-star checked"></span>
                </a>
            {% else %}
                <a href="{% url 'add-rate' slug=b.slug rate=i %}">
                    <span class="fa fa-star"></span>
                </a>
            {% endif %}
        {% endfor %}
        {% for comment in b.comments.all %}
            <h4>{{ comment.text }}</h4>
            <h5>{{ comment.date }}</h5>
            <h6>Автор комментария: {{ comment.author }}</h6>
            <a href="{% url 'add-like-to-comment' slug=b.slug id_comment=comment.id %}">
                <h4>Likes: {{ comment.likes }}</h4>
            </a>
        {% endfor %}
        <br>
    {% endfor %}

{% endblock %}