{% extends 'main_template.html' %}

{% block personal_page %}
    <a href="{% url 'the-main-page' %}">
        <h6>Главная</h6>
    </a>

    {{ user }}

    {% if user.is_authenticated %}
        {% csrf_token %}
        <a href="{% url 'logout' %}">Logout</a>
        <h3>+ GitHub info</h3>
        <a href="{{ url }}">Получить данные с GitHub</a>
        <br>
        <br>
        <h5>Список прочитанных книг: {{ my_books }}</h5>
        {{ u }}
        <br>
        <h5>GitHub аккаунт: {{ login }}</h5>

        <h5>Количество проектов: {{ count_repos }}</h5>

        <h5>Список проектов: {{ repos_list }}</h5>
        <br>
        {{ r }}
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <br>
        <h5>Список всех книг: {{ my_books }}</h5>
    {% endif %}

{% endblock %}