{% extends 'main_template.html' %}

{% block title %} {{book.title}} {% endblock %}

{% block update_book %}

<a href="{% url 'the-main-page' %}">
    <h6>Главная</h6>
</a>
{% for msg in messages %}
    <p class="text-danger">{{ msg }}</p>
{% endfor %}
<h3>Книга: {{book.title}}</h3>

<form action="{% url 'update-book' slug=slug %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="OK">
</form>

<form action="{% url 'update-book-author' slug=book.slug %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="text">Добавьте автора:</label>
        <input class="form-control" type="text" id="text" name='text' placeholder="Еще + автор"></input>
    </div>
    <input type="submit" value="OK">
</form>


  <form action="/action_page.php">
        {% for genre in genres %}
        {% if genre in checked_genres %}
            <div class="form-check-inline">
              <label class="form-check-label" for="check1">
                <input type="checkbox" class="form-check-input" id="check1" name="vehicle1" value="something" checked>
                  {{ genre }}
              </label>
            </div>
        {% else %}
            <div class="form-check-inline">
              <label class="form-check-label" for="check2">
                <input type="checkbox" class="form-check-input" id="check2" name="vehicle2" value="something">
                  {{ genre }}
              </label>
            </div>
        {% endif %}
        {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}